<!-- <med-page-login (onLogin)="login($event)"></med-page-login> -->
<mat-sidenav-container autosize="true">
    <mat-sidenav mode="side" opened *ngIf="!config.layout.menu.hidden">
        <mat-toolbar fxLayout fxLayoutAlign="center center">
            <mat-icon *ngIf="!expanded" svgIcon="logo"></mat-icon>
            <span *ngIf="expanded">JAPC - SYS MEDIC</span>
        </mat-toolbar>
        <med-menu [expanded]="expanded"></med-menu>
    </mat-sidenav>
    <mat-sidenav-content>
        <med-header (onExpand)="toogleMenu($event)" *ngIf="!config.layout.header.hidden"></med-header>
        <router-outlet></router-outlet>
    </mat-sidenav-content>
</mat-sidenav-container>
